@import "variables";

.container-genre {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;

  .container-genre-top {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;

    .container-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 75px;
      flex: 1;
      background-color: #dedede;

      @media screen and (max-width: $smallest_screen) {
        min-width: 60%;
        height: 40px;
      }

      #select-genre {
        width: 75%;
      }
    }

    .header {
      width: 70%;
      height: 75px;
      flex: 2;
      background-color: #dedede;

      @media screen and (max-width: $smallest_screen) {
        min-width: 60%;
        height: 40px;
      }
    }
  }

  .container-genre-bottom {
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;

    .sub-container {
      h1 {
        width: 100%;
        margin: 0;
        text-align: center;
      }

      .graph {
        width: 100%;
      }

      padding: 24px 85px;
      flex: 1; // This combined with min-width 35% will make it scale to 50%
      min-width: 35%; // cuz it needs 33.3% or lower to fit 3 in the same row
      display: flex;
      gap: 24px;
      flex-direction: column;
      align-items: center;

      background-color: #dedede;

      @media screen and (max-width: $minimum_graph_width * 2) {
        min-width: 60%;
      }

      @media screen and (max-width: $small_screen) {
        padding: 0;
      }
    }
  }
}