html,body,div#react-entry-point {
    height: 100%;
}

.navbar {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
}

.navbar>a {
    color: #369;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    padding: 0 15px;
    margin-top: auto;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    border-color: #333;
    border-style: solid;
    border-width: 2px;
}

.navbar>a::selection {
    background-color: #369;
    color: #fff;
    border-bottom-width: 0;
}