.container-staff {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;

  .container-staff-left {
    width: 33.33%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    .search-bar-container {
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #dedede;

      .search-bar {
        width: 75%;
        display: block;
        height: calc(1.5em);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
          border-color: #333333;
          box-shadow: 0 0 6px #333333;
        }
      }
    }

    .container-image {
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #dedede;

      .image {
        max-width: 100%;
        max-height: 100%;

        border: black dotted 1px;
      }
    }

    .container-bio {
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #dedede;
    }
  }

  .container-staff-right {
    width: 66.66%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    .header {
      height: 10%;
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #dedede;
    }

    .container-graph {
      height: 60%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #dedede;

      .graph-pi {

      }

      .graph-bar {

      }

      .image {
        border: black dotted 1px;
      }
    }

    .container-sentiment {
      height: 30%;
      background-color: #dedede;
    }
  }
}