$smallest_screen: 512px;
$small_screen: 768px;
$medium_screen: 1024px;

$minimum_graph_width: 750px;

$off_white: rgb(246, 212, 185);
$light_orange: rgb(244, 121, 77);
$orange: rgb(248, 131, 64);
$dark_red: rgb(173, 39, 27);
$darkest_red: rgb(60, 6, 2);